<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DBConnection</servlet-name>
        <servlet-class>com.util.database.DBConnection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserBean</servlet-name>
        <servlet-class>com.procurement.bean.UserBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDao</servlet-name>
        <servlet-class>com.procurement.dao.UserDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>com.procurement.controller.ControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.procurement.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenticationServlet</servlet-name>
        <servlet-class>com.procurement.controller.AuthenticationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequisitionDao</servlet-name>
        <servlet-class>com.procurement.dao.RequisitionDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>users</servlet-name>
        <servlet-class>com.procurement.controller.users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dptrequisitions</servlet-name>
        <servlet-class>com.procurement.controller.dptrequisitions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>download</servlet-name>
        <servlet-class>com.procurement.controller.download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupplierServlet</servlet-name>
        <servlet-class>com.procurement.controller.SupplierServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DBConnection</servlet-name>
        <url-pattern>/DBConnection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserBean</servlet-name>
        <url-pattern>/UserBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDao</servlet-name>
        <url-pattern>/UserDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/ControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenticationServlet</servlet-name>
        <url-pattern>/AuthenticationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequisitionDao</servlet-name>
        <url-pattern>/RequisitionDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>download</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>ManagerFilter</filter-name>
        <filter-class>com.procurement.controller.ManagerFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UserDepartmentFilter</filter-name>
        <filter-class>com.procurement.controller.UserDepartmentFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SupplierFilter</filter-name>
        <filter-class>com.procurement.controller.SupplierFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CommitteeMemberFilter</filter-name>
        <filter-class>com.procurement.controller.CommitteeMemberFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ManagerFilter</filter-name>
        <url-pattern>/mandash.jsp</url-pattern>
        <url-pattern>/users.jsp</url-pattern>
        <url-pattern>/requisitions.jsp</url-pattern>
        <url-pattern>/tenders.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserDepartmentFilter</filter-name>
        <url-pattern>/dptdash.jsp</url-pattern>
        <url-pattern>/dptrequisitions.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SupplierFilter</filter-name>
        <url-pattern>/supdash.jsp</url-pattern>
        <url-pattern>/bidding.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CommitteeMemberFilter</filter-name>
        <url-pattern>/comdash.jsp</url-pattern>
        <url-pattern>/evaluation.jsp</url-pattern>
    </filter-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
